.videoSize {
    width: 100%;
    }
.inCallVideoSize {
    width: 100%;
    transform: rotateY(180deg);
}
.videoBackground {
    background-color: rgba(119, 121, 128, 0.644);
}
.videoContainerWidth {
    max-width: 800px;
}
.videoPosition {
    position: relative;
    z-index: 100;
    transform: rotateY(180deg);
}
.namePosition {
    position: absolute;
    z-index: 150;
}
.nameBackground {
    background-color: rgba(119, 121, 128, 0.883);
}
.nameInput {
    color: whitesmoke;
    text-align: center;
}
.muteBtn {
    position: absolute;
    z-index: 150;
    margin-top: -120px;
}
.muteBtnBgr {
    color: whitesmoke;
    border-radius: 50%;
}
.unclickedBtn{
    background-color: rgba(119, 121, 128, 0.883);
}
.clickedBtn {
    background-color: rgba(142, 36, 36, 0.883);
}
input.form-control.nameInput {
    width: 150px;
    height: 150px;
    border: none;
    border-bottom: 0.5px solid rgba(245, 245, 245, 0.829);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.801);
    color: whitesmoke;
    z-index: 100;
}
.nameInputPosition {
    position: absolute;
}
input.form-control.nameInput.shrinkNameInput {
    width: 100px;
    height: 100px;
}

@media (max-width: 575.98px) {
    input.form-control.nameInput {  
        width: 30%;
        height: 50px;
        border-radius: 10px;
    }
    input.form-control.nameInput.shrinkNameInput {
        width: 100px;
        height: 20px;
    }
    .muteBtn {
        margin-top: -85px;
    }
}